@using System.Collections.Generic
@using ASM_THIEN.Areas.Identity.Models.Account
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginOrRegisterViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Login/Register";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>

                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" id="LoginForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Login.Email" placeholder="Email" />
                        <span asp-validation-for="Login.Email" class="text-danger"></span>
                        <input asp-for="Login.Password" placeholder="Password" />
                        <span asp-validation-for="Login.Password" class="text-danger"></span>
                        <span>
                            <input asp-for="Login.RememberMe">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" id="RegisterForm">
                        @* <input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email Address" />
                            <input type="password" placeholder="Password" />
                        *@

                        <input asp-for="Register.UserName" placeholder="User Name" />
                        <span asp-validation-for="Register.UserName" class="text-danger"></span>

                        <input asp-for="Register.Email" placeholder="Email" />
                        <span asp-validation-for="Register.Email" class="text-danger"></span>

                        <input asp-for="Register.Password" placeholder="Password" />
                        <span asp-validation-for="Register.Password" class="text-danger"></span>

                        <button type="submit" class="btn btn-default">Sign up</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}
