@using ASM.Models
@model List<CartItem>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "cart";
    var index = 0;
}


@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Name</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var cart in Model)
                            {
                                <tr>
                                    <td class="image cart_product">
                                        <h4>@cart.product.Name</h4>
                                    </td>
                                    <td class="cart_description">
                                    </td>
                                    <td class="cart_price">
                                        <p>$@cart.product.Price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" onclick="this.parentNode.querySelector('#item_Quantity').stepUp();preventDefault()"> + </a>
                                            <input class="cart_quantity_input" type="number" name="quantity" value="@cart.Quantity" id="item_Quantity" autocomplete="off" size="2">
                                            <a class="cart_quantity_down" onclick="this.parentNode.querySelector('#item_Quantity').stepUp();preventDefault()"> - </a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">$@(cart.Quantity*cart.product.Price)</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" asp-action="Remove" asp-route-index="@index++"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        

                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Total <span>$@ViewBag.Total</span></li>
                        </ul>
                        <button type="submit" class="btn btn-default update" href="">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--/#do_action-->
}
