@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Detail";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details">

                    <!--product-details-->
                    <div class="col-sm-4">
                        <div class="view-product">
                            <img src="~/images/product-details/1.jpg" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                 
                    </div>
                    <div class="col-sm-8">
                        <div class="product-information">

                            <!--/product-information-->
                            <img src="~/images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>Anne Klein Sleeveless Colorblock Scuba</h2>
                            <span>
                                <span>US $59</span>
                                <label>Quantity:</label>
                                <input type="text" value="3" />
                                <button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> E-SHOPPER</p>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

            </div>
        </div>
    </div>
</section>
